#logout {
    float: right;
}
body{
    font-family: sans-serif;
    background-color: lightgrey;
    background-image: url("images/imagege3.jpg");
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr
{background-color: #f2f2f2}

th {
    background-color: lightskyblue;
    color: white;
}
h1 {
    color: #f2f2f2;
    font-family: verdana;
    font-size: 300%;

}
h2
{
    color:#f2f2f2;
    font-family: verdana;
    font-size: 200%;
}
a
{
    text-decoration: none;
    color:black;
}
a:hover
{
    color: red;
}
button
{
    background-color: #f2f2f2;
    float: right;
    width: 150px;
    height:50px;
}
input[type=checkbox] {
    margin: 0 auto;
    display: block;
}
#flights input[type="text"] {
    width: 120px;
}
.readonly, input[readonly] {
    background-color: lightgrey;
}
#log {
    width: 90px;
    height: 50px;
}
input[type=checkbox] {
    margin: 0 auto;
    display: block;
}
form
{
    background-color: antiquewhite;
}


