<div class="form-group">
  <label for="mail" *ngIf="msgexists">{{ msgexists }}</label>
  <label for="mail">Email:</label>
  <input type="email" class="form-control" id="mail" [(ngModel)]="mail" name="mail" />
</div>
<div class="form-group">
  <label for="pw">Password:</label>
  <input type="password" class="form-control" id="pw" [(ngModel)]="pw1" name="pw1" />
</div>
<div class="form-group">
  <label for="pw2">Password (retype):</label>
  <input type="password" class="form-control" id="pw2" [(ngModel)]="pw2" name="pw2" />
</div>