<div class="row">
  <div class="col-md-12"><h2>Shopping Cart</h2></div>
</div>
<div class="row" *ngFor="let item of items">
  <div class="col-md-4">{{item.quantity}}x{{item.product.name}}</div>
  <div class="col-md-3">{{item.product.price * item.quantity | currency: 'EUR'}}</div>
  <div class="col-md-3"><span class="glyphicon glyphicon-remove-sign" (click)="delete(item)"></span></div>
</div>
<div class="row">
  <div *ngIf="items.length != 0" class="col-md-6">Total: {{total | currency: 'EUR'}}</div>
  <div *ngIf="items.length == 0" class="col-md-6">No Items</div>
</div>
<div class="row">
  <div class="col-md-6"><button routerLink="/order" [disabled]="items.length < 1">Order now</button></div>
</div>