<app-login #c="child"></app-login>
<div class="container">
<!--  <div class="row">
    HEADER LOGO
  </div>-->
  <div class="row header">
    <div class="col-md-12">
      <nav role="navigation">
        <ul class="nav navbar-nav">
          <li role="presentation"><a routerLink="/">Home</a></li>
          <li role="presentation"><a routerLink="/product">Product</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li role="presentation" *ngIf="!loggedIn()"><a (click)="c.showLogin()">Login</a></li>
          <span dropdown *ngIf="loggedIn()">
            <a dropdownToggle href id="menu">{{username}} <span class="caret"></span></a>
            <ul class="dropdown-menu" dropdownMenu aria-labelledby="menu">
              <li role="menuitem"><a class="dropdown-item" routerLink="/user/orders">Orders</a></li>
              <li role="menuitem"><a class="dropdown-item" routerLink="/user/customer">Customer data</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </span>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>