<alert type="danger" *ngIf="error">
  <strong>Error</strong> Please try again later
</alert>
<!-- TODO later: customize class nav nav-tabs -->
<div class="col-md-8 col-md-offset-2">
  <alert type="success" *ngIf="done">
    <strong>Order sent</strong> Thanks for ordering!
  </alert>
  <tabset *ngIf="!done">
    <tab [active]="tabs[0].active" (select)="tabs[0].active = true; tabs[1].active = false" heading="your order" class="t">
      <table class="table">
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let o of orders">
          <td>{{o.product.name}}</td>
          <td>{{o.quantity}}x{{o.product.price | currency: 'EUR'}}</td>
          <td>{{o.quantity * o.product.price | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total: {{total | currency: 'EUR'}}</td>
        </tr>
      </table>
      <button routerLink="/product"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
      <button (click)="switchTabs()">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
    </tab>
    <tab [disabled]="tabs[1].disabled" [active]="tabs[1].active" (select)="tabs[1].active = true; tabs[0].active = false" heading="delivery information">
      <form (ngSubmit)="orderNow()" #f="ngForm">
        <app-customer></app-customer>
         <div class="form-group" *ngIf="!loggedIn()">
           <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="register" name="register" />
              Register?
            </label>
           </div>
         </div>
         <div *ngIf="register">
          <app-register></app-register>
         </div>
         <button formnovalidate type="button" (click)="switchTabs()"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
         <button type="submit" [disabled]="!f.form.valid">Submit</button>
        </form>
    </tab>
  </tabset>
</div>
