<div class="col-md-9">
  <alert class="warning" *ngIf="noorders">
    <strong>No Orders</strong>
  </alert>
  <table class="table table-striped" *ngIf="!noorders">
    <tr>
      <th>Date</th>
      <th># items</th>
      <th>price</th>
    </tr>
    <tr *ngFor="let o of orders" (click)="showOrder(o)" class="orderlistrow">
      <td>{{o.created}}</td>
      <td>{{o.nitems}}</td>
      <td>{{o.totalPrice | currency: 'EUR'}}</td>
    </tr>
  </table>
</div>